<h1 class="text-center">About my site</h1>
<br>
<img src="../assets/music.jpg" alt="Music-Image" width="100%" height="500"/>
<br>
<br>
<h2>About Us</h2>
<p>With MusicWorld, it’s easy to find the right music for every moment – on your phone, your computer, your tablet and more.</p>

<p>There are millions of tracks available on MusicWorld. So whether you’re behind the wheel, working out, partying or relaxing, 
    the right music or podcast is always at your fingertips. Choose what you want to listen to.</p>

<p>You can also browse through the collections of friends, artists, and celebrities, or create a radio station and just sit back.</p>
