<app-header [content]="pageContent.header"></app-header>

<img src="../assets/music.jpg" alt="Music-Image" width="100%" height="500"/>
<br>
<br>
<div>
  <h1>Our Services</h1>
  <ul class="services">
    <li>Listen exactly what you love the moment you want.</li>
    <li>Enjoy nonstop music without any ad interruptions.</li>
    <li>Download your favourite songs and enjoy offline litening.</li>
    <li>Create your own playlist.</li>
    <li>Listen to radio or today's hit playlist.</li>
  </ul>
</div>
